* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  background-color: #fff;
  color: #506a85;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

.head-top {
  background-color: #f5f7fa;
  margin-bottom: 10px;
}

.head-top .right a:hover {
  color: #64d4c2;
}

.head-top .right a,
.left a {
  text-decoration: none;
  color: #506a85;
}

.head-top .right {
  margin: 10px 0px;
}

.head-top .left {
  margin: 5px 0px;
  text-align: right;
}

.head-top .left ul {
  list-style: none;
  margin: 0px;
}

.head-top .left ul li {
  display: inline-block;
}

.head-top .left .fa {
  font-size: 1rem;
  line-height: 1rem;
  padding: 5px;
}

.head-top .left .fa-facebook:hover {
  color: white;
  background-color: #3b5998;
}

.head-top .left .fa-google-plus:hover {
  color: white;
  background-color: #dd4736;
}

.head-top .left .fa-twitter:hover {
  color: white;
  background-color: #28a8e0;
}

.head-top .left .fa-pinterest-p:hover {
  color: white;
  background-color: #cb2027;
}

.head-top .left .fa-behance:hover {
  color: white;
  background-color: #1368ff;
}

.head-top .left .fa-dribbble:hover {
  color: white;
  background-color: #f474a5;
}

.header-body {
  padding: 10px 0px 20px;
}

.header-body .navbar {
  padding: 0px;
}

.header-body .nav-item {
  margin-left: 15px;
}

header .bg-light {
  background-color: #fff !important;
}

.header-body .navbar-expand-lg .navbar-collapse {
  margin-left: 30px;
}

.header-body .navbar-light .navbar-nav .active > .nav-link {
  color: #3b5998;
}

.header-body .navbar-light .navbar-nav .nav-link:hover {
  color: #00bb9c;
}

.header-body .navbar-collapse li .nav-link {
  font-size: 18px;
  font-weight: bold;
  color: #506a85;
}

.header-body .right-search {
  color: #506a85;
}

.navbar-collapse .form-inline .form-control {
  border: none;
}

.navbar-collapse .btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  border: none;
}

/* Banner section css starts here */

.banner-section {
  width: 100%;
}

.banner-section .carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 30%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.banner-section .carousel-caption h1 {
  font-size: 55px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 65px;
}

.banner-section .carousel-caption p {
  color: #c2c2c2;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 1px;
}

.banner-section .btn-info {
  padding: 10px 40px;
  border-radius: 2px;
  background-color: #00bb9c;
  font-weight: 500;
  font-size: 18px;
  border: none;
}

.banner-section .btn-info:hover {
  background-color: white;
  color: #00bb9c;
  transition: 1s;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 45%;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

/* Banner section css ends here */

/* Clean section starts here */

.clean-section {
  width: 100%;
  padding: 50px;
}

.clean-section .first-row {
  text-align: center;
  padding: 10px 0px;
  margin: 50px 0px 40px;
}

.clean-section .first-row p {
  font-size: 18px;
  font-weight: 600;
  color: #506a85;
}
.clean-section .first-row h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.clean-section .row-2 .media-body {
  padding-bottom: 30px;
}

.clean-section .row-2 .media h3 {
  font-size: 2rem;
}

.clean-section .row-2 p {
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
}

.clean-section h2 {
  font-weight: 600;
}

.row-2 h3 {
  font-weight: bold;
}

/* Clean section ends here */

/* latest-collection section starts here */

.latest-collection {
  background-color: #f5f7fa;
  padding: 50px 0px;
}

.latest-collection .row-2 .card a {
  text-decoration: none;
  color: #506a85;
}

.latest-collection .row-2 .card a:hover {
  text-decoration: none;
  color: #64d4c2;
}

.latest-collection .row-1 {
  text-align: center;
  margin-bottom: 50px;
}

.latest-collection .row-1 h2 {
  font-weight: 700;
  font-size: 2.6rem;
  margin-bottom: 20px;
}

.latest-collection .row-1 p {
  font-weight: 400;
  font-size: 24px;
}

.latest-collection .row-2 {
  text-align: center;
}

.latest-collection .row-2 h4 {
  font-weight: bold;
  font-size: 20px;
}

.latest-collection .row-2 .card .img-with-overlay {
  position: relative;
}

.latest-collection .row-2 .card .img-with-overlay .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(100, 212, 193, 0.89);
  display: none;
  color: white;
}

.latest-collection .row-2 .card .img-with-overlay .overlay .fas {
  margin: 170px auto 0px;
}

.latest-collection .row-2 .card:hover .overlay {
  display: block;
}

.latest-collection .row-3 .owl-theme .owl-dots .owl-dot.active span,
.latest-collection .row-3 .owl-theme .owl-dots .owl-dot:hover span {
  background: #00bb9c;
}

.latest-collection .row-3 {
  margin-top: 25px;
}

/* latest-collection section ends here */
/* .
.
.
.
.
 */
/* get-in-touch-section starts here */

.get-in-touch-section {
  width: 100%;
  padding: 80px 0px;
  background-color: #fff;
  text-align: center;
}

.get-in-touch-section h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.get-in-touch-section p {
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  color: #7e8d9c;
  margin-bottom: 30px;
}

.get-in-touch-section .btn-info {
  padding: 10px 40px;
  border-radius: 2px;
  background-color: #00bb9c;
  font-weight: 500;
  font-size: 18px;
  border: none;
}

.get-in-touch-section .btn-info:hover {
  background-color: transparent;
  border: 1px solid #00bb9c;
  color: #00bb9c;
  transition: 1s;
}

/* get-in-touch-section ends here */
/* .
.
.
.
 */

/********************************
*** footer section starts here ****
**********************************/

/* Footer main section */
.footer-section {
  width: 100%;
  background-color: #2f4052;
}

.footer-section .main {
  padding: 50px 0px;
}

.footer-section .widget h4 {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-section .widget p {
  color: #a3b1bf;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.footer-section .f-col .widget a {
  color: #a3b1bf;
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
}

.footer-section .f-col img:hover {
  opacity: 50%;
}

.footer-section .f-col .widget a:hover {
  color: #00bc9c;
}

.footer-section .widget a .ek {
  font-size: 10px;
}

.footer-section .widget a:hover {
  text-decoration: none;
}

/* `` ` `` ` `` ` */
.footer-section .t-col a {
  text-decoration: none;
  color: #a3b1bf;
}

.footer-section .t-col a:hover {
  text-decoration: none;
  color: #00bc9c;
}

/* `` ` `` `  */
.footer-section .s-col .card .img-with-overlay {
  position: relative;
  text-align: center;
}

.footer-section .s-col .card .img-with-overlay .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(100, 212, 193, 0.89);
  display: none;
  color: white;
}

.footer-section .s-col .card .img-with-overlay .overlay .fas {
  margin: 30px auto 0px;
}

.footer-section .s-col .card:hover .overlay {
  display: block;
}
/* `` ` `` ` */
/* `` ` `` ` */
.footer-section .widget .col-sm-12 {
  padding: 0px 0px;
}

.footer-section .widget .card {
  margin: 5px 5px 0px 0px;
  border-radius: 0px;
  background-color: transparent;
}

.footer-section .widget .card img {
  border-radius: 0px;
}

.footer-section .widget .form .mx-sm-3 {
  margin-left: 0px !important;
}

.footer-section .widget button {
  position: absolute;
  right: 5%;
  top: 44.5%;
}

.footer-section .widget .btn {
  padding: 3px 8px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #00bc9c;
  border: 0px solid transparent;
}

.footer-section .widget .btn:hover {
  background-color: #17a78b;
}

.footer-section .widget ::placeholder {
  font-size: 14px;
  font-weight: 600;
  color: #a3b1bf;
}

.footer-section .widget .form-control:hover {
  background-color: #596675;
}

.footer-section .widget .form-control {
  color: white;
}

.footer-section .widget .form-control:hover ::placeholder {
  background-color: #596675;
}

.footer-section .widget .form-control:focus {
  box-shadow: none;
}

.footer-section .form-control {
  padding: 20px 10px;
  background-color: #4e5c6c;
  border: 0px solid transparent;
  width: 110%;
}

/* .
.
footer main section ended here
.
.
.
.
.
. */

/* Footer bottom section */

.footer-bottom {
  padding: 30px 0px 20px;
  background-color: #283645;
  width: 100%;
  margin: 0px;
}

.footer-bottom .t-left {
  text-align: left;
  color: #a3b1bf;
}

.footer-bottom .t-right {
  text-align: right;
}

.footer-bottom .t-right ul {
  list-style: none;
}

.footer-bottom .t-right ul li {
  display: inline;
  padding: 0px 5px;
  font-weight: 600;
  font-size: 16px;
}

.footer-bottom .t-right ul a {
  text-decoration: none;
  color: #707e8c;
}

.footer-bottom .t-right ul a:hover {
  text-decoration: none;
  color: #00bc9c;
}

.right-side {
  width: 100%;
  padding: 0px 20px;
  text-align: right;
  margin-top: -65px;
  opacity: 50%;
}

.right-side:hover {
  opacity: 100%;
}

/************************************
 ******footer section ends here *****
 ***********************************/
